h1 {    
    color: #ffe400;
    font-size: 4vw;
    font-family: Trebuchet MS;
    margin-top: 5pt;
    margin-bottom: 5pt;
}
h2 {
    background-color: #B0E0E6;
    border-top: thick double #7f0000;
    border-bottom: thick double #7f0000;
    font-size: 250%;
    font-family: helvetica;

}
h3 {
    padding-left: 10pt;
}

padOver {
    padding: 10pt;
    color: white;
}

p {
    margin: 0 auto;
    color: black;
    padding: 2pt;
}
link {
    color: yellow;
}

.selfPhoto {
    padding: 1px;
    border-style: ridge;
    border-width: 5px;
    border-color: #7f0000;
    width: 252px;
    height: 336px;
}
body {
    border-style: ridge;
    border-width: 8px;
    border-color: #7f0000;
    background-color: #272727;
    overflow: auto;
}
.snProject {
    border-top: ridge  #7f0000;
    background-color: #cdffa8;
}
.snPhoto {
    padding: 1px;
    border-style: ridge;
    border-width: 5px;
    border-color: #7f0000;
    width: 300px;
    height: 600px;
}
.dfaProjectHead {
    background-color: #14a796; 
    font-size: 14pt; 
    padding-left: 10pt;
}
.dfaProject {
    border-top: ridge  #7f0000;
    background-color: #deedeb; 
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}
.dfaPhoto {
    padding: 1px;
    border-style: ridge;
    border-width: 5px;
    border-color: #7f0000;
    max-width: 650px;
    max-height: 190px;
    width: 90%;
    height: auto;
}
.dfaItem {
    padding: 0pt;
    grid-row-start: 1;
    grid-row-end: 3;
}
.dfaExample {
    padding-top : 20pt;
    max-width: 600px;
    max-height: 600px;
    width: 90%;
}
.classGraph {
    grid-row-start: 1;
    grid-row-end: 3;
    min-width: 400px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
li {
    display: inline-block;
}
li a {
    display: inline-block;
    color: #7f0000;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

li a:hover {
    font-weight: 700;
    background-color: #fffb3d;
}
ul {
    border-top: ridge  #7f0000;
    border-bottom: ridge  #7f0000;
    border-width: 4px;
    list-style-type: none;
    margin: 0;
    padding: 2px;
    overflow: hidden;
    background-color: #fcffbc;
}

.noPad {
    padding: 0pt;
}
.clearfix {
    overflow: auto;
}
.imgL {
    float: left;
    padding: 5pt;
}

.background-Photo {
    display: block;
    margin: 0 auto;
    height: auto;
}
.responsive {
    width: 100%;
    height: auto;
}

.short-text { display: none; }

@media (max-width: 870px) {
    .short-text {display:inline}
    .full-text { display: none; } 
}
@media (max-width: 661px) {
    .clearfix { display: grid; padding: 0pt;}
    #logo { 
        margin-left: auto;
        margin-right: auto;
        
    }
    #logoText {
        padding: 5pt;
        text-align: center;
    }
}
@media (max-width: 735px) {
    .grid-container {
        grid-template-columns: auto;
    }
    .dfaExample {
        max-width: 500px;
        max-height: 500px;
    }
    .classGraph {
        min-width: 100px;
    }
}
