h1 {    
    color: #3F3250;
    text-decoration: underline
}
h2 {
        background-color: #B0E0E6;
        border-top: thick double #FF3B3F;
        border-bottom: thick double #FF3B3F;
        font-size: 250%;
        font-family: helvetica;

}
h3 {
        padding-left: 10pt;
}

padOver {
        padding: 10pt;
}

link {
        font color ="blue";
}

.selfPhoto {
    padding: 1px;
    border-style: ridge;
    border-width: 5px;
    border-color: #C0B3A0;
    width: 250px;
    height: 300px;
}
body {
        border-style: ridge;
        border-width: 8px;
        border-color: #C0B3A0;
        background-color: #dbfffd;
}
.project2 {
    border-top: ridge  #C0B3A0;
    background-color: #93C178;
}
.dfaProject {
    border-top: ridge  #C0B3A0;
    background-color: #fcffbc; 
    
}
.dfaPhoto {
    padding: 1px;
    border-style: ridge;
    border-width: 5px;
    border-color: #E14658;
    width: 650px;
    height: 190px;
}
li {
    display: inline-block;
}
li a {
    display: inline-block;
    color: #3F3250;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

li a:hover {
    font-weight: 700;
    background-color: #fffb3d;
}
ul {
    border-top: ridge  #C0B3A0;
    border-bottom: ridge  #C0B3A0;
    border-width: 4px;
    list-style-type: none;
    margin: 0;
    padding: 2px;
    overflow: hidden;
    background-color: #fcffbc;
}
